    /* body {
      width: 1000px;
      height: 1000px;
    } */

    #rect-drawing {
      border: 2px solid red;
      position: absolute;
      background-color: #ffffff46;
    }

    #height-label {
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      min-width: 50px;
      /* text-align: center; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #width-label {
      border-left: 1px solid red;
      border-right: 1px solid red;
      min-height: 50px;
      vertical-align: center;
    }

    .label-text {
      background-color: #ffffff72;
      padding: 5px;
      z-index: 1;
      border-radius: 5px;
    }

    .spacer-h {
      /* background-color: blue; */
      width: 100%;
      min-height: 50px;
      transform: translateY(50%);
      border-top: 1px solid red;
    }

    .spacer-v {
      /* background-color: blue; */
      height: 100%;
      min-width: 50px;
      transform: translateX(50%);
      border-left: 1px solid red;
    }

    .corner-labels-container {
      /* border: 1px solid green; */
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
      flex-direction: column;
      position: absolute;
      font-size: 14px;
    }

    .corner-labels {
      padding: 5px;
    }

    #right-labels-container {
      text-align: right;
    }

    #left-labels-container {
      text-align: left;
    }

    .labels {
      position: absolute;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .grid {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      height: 50px;
      width: 50px;
      margin: 0;
      position: fixed;
    }